@import "solarized";
@import "settings";
@import "foundation";

#icon-links {
    font-size: 1.2em;

    a {
        color: $body-font-color;
    }
}

#projects {
    border-left: 1px solid #ddd;
}

div.highlight {
    margin-bottom: 1.25rem;
    padding: 0.5rem;
}
