@import "solarized";
@import "settings";
@import "foundation";

#icon-links {
    font-size: 1.2em;

    a {
        color: $body-font-color;
    }
}

#projects {
    border-left: 1px solid #ddd;
}

#disqus {
    margin-top: 1.25rem;
}

.highlight {
    margin-bottom: 1.25rem;
    padding: 0.5rem;

    overflow-x: scroll;

    code {
        color: #93a1a1 !important;
    }
}
