@import "solarized";
@import "settings";
@import "foundation";

#footer {
    margin-top: 3em;
    font-size: 0.8rem;
    padding-bottom: 2em;
    text-align: right;
}

#icon-links {
    font-size: 1.2em;

    a {
        color: $body-font-color;
    }
}

#disqus {
    margin-top: 1.25rem;
}

.sidebar {
    border-left: 1px solid #ddd;
}

.highlight {
    margin-bottom: 1.25rem;
    padding: 0.5rem;

    overflow-x: scroll;

    code {
        color: #93a1a1 !important;
    }
}

h3.post-listing {
    margin-bottom: 0;
}

div.post-date {
    margin-bottom: 1.25rem;
}

.gold {
    color: #D4A017;
}
