<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }} - Borgström ♕</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" /> 
        <link href='http://fonts.googleapis.com/css?family=Anaheim|Yanone+Kaffeesatz|Inconsolata' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.url }}/css/app.css" />
        <link rel="stylesheet" href="{{ site.url }}/css/syntax-solarized-dark.css" />
        <link rel="stylesheet" href="{{ site.url }}/fonts/foundation-icons/foundation-icons.css" />
        <script src="{{ site.url }}/bower_components/modernizr/modernizr.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="small-12 columns">
                <h1 class="title"><a href="{{ site.url }}/">{{ site.name }}&nbsp;<i class="fi-crown gold"></i></a>&nbsp;&nbsp;<small>Semantics, pragmatism and cynicism.</small></h1>
                <ul class="inline-list" id="icon-links">
                    <li><a href="{{ site.url }}/"><i class="fi-crown"></i>&nbsp;Home</a></li>
                    <!--li><a href="{{ site.url }}/projects/"><i class="fi-heart"></i>&nbsp;Projects</a></li-->
                    <li><a href="{{ site.url }}/about/"><i class="fi-torso-business"></i>&nbsp;About</a></li>
                    <li>&mdash;</li>
                    <li><a href="https://github.com/borgstrom"><i class="fi-social-github"></i>&nbsp;GitHub</a></li>
                    <li><a href="http://ca.linkedin.com/in/borgstrom/"><i class="fi-social-linkedin"></i>&nbsp;LinkedIn</a></li>
                    <li><a href="https://twitter.com/borgstr"><i class="fi-social-twitter"></i>&nbsp;Twitter</a></li>
                </ul>
            </div>
            <hr>
        </div>
        {{ content }}
        <div class="row" id="footer">
            Copyright &copy; 2014 Evan Borgstrom
        </div>
        <script src="{{ site.url }}/bower_components/jquery/jquery.js"></script>
        <script src="{{ site.url }}/bower_components/foundation/js/foundation.min.js"></script>
        <script src="{{ site.url }}/js/app.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-30153154-1', 'borgstrom.ca');
          ga('send', 'pageview');
        </script>
    </body>
</html>
